@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


*{
    background-color: black;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    text-align: center;

}

@media (max-width: 1080px) {
    /* Styles for Motorola Edge 20 Pro and similar devices */


    section {
        height: 100vh;
        width: 100vw;
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
  }